{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 40px;
}

h1 {
    font-size: 4vw;
    font-weight: 900;
    border-bottom: 2px solid black;
    text-shadow: rgba(0, 0, 255, 0.479) 4px 1px 2px;
    text-align: center;
}

h2 {
    margin: 2vw 0;
    font-style: italic;
}

main p {
    font-weight: 900;
    color: darkblue;
    margin: 2vw 0;
}

ul {
    list-style: none
}

ul li:before {
    content: '\2022';
    margin: 0 2px;
    color: gray;
}